fastapi
uvicorn
langchain-openai
pinecone-client
arxiv
PyPDF2
python-dotenv
tqdm
requests
openai
pydantic
lxml
os
dotenv
pinecone
langchain_openai
langchain
PyPDF2
io
langchain_openai 
langchain_core  
langchain-community 
langchain_pinecone 
beautifulsoup4 
tabulate
