fastapi
uvicorn
langchain
langchain-openai
pinecone-client
arxiv
PyPDF2
python-dotenv
tqdm
requests
openai
pydantic
beautifulsoup4
lxml
requests
os
dotenv
pinecone
langchain_openai
langchain
requests
PyPDF2
io